<hudson.triggers.SCMTrigger>
  <spec>{{ spec|default('* * * * */5') }}</spec>
  <ignorePostCommitHooks>{{ ignore_post_commit_hooks|default(false) }}</ignorePostCommitHooks>
</hudson.triggers.SCMTrigger>
