<jenkins.triggers.ReverseBuildTrigger>
  <spec/>
  <upstreamProjects>{{ jobs }}</upstreamProjects>
  <threshold>
    <name>{{ result|default('SUCCESS')|upper }}</name>
    <ordinal>0</ordinal>
    <color>BLUE</color>
    <completeBuild>true</completeBuild>
  </threshold>
</jenkins.triggers.ReverseBuildTrigger>

