<tools.devnull.jenkins.plugins.buildnotifications.TelegramNotifier>
  <chatIds>{{ chat_ids}}</chatIds>
  <sendIfSuccess>{{ notify_success|default(true) }}</sendIfSuccess>
</tools.devnull.jenkins.plugins.buildnotifications.TelegramNotifier>
