<jenkins.plugins.slack.SlackNotifier>
  <teamDomain/>
  <authToken/>
  <buildServerUrl>/</buildServerUrl>
  <room/>
  <startNotification>false</startNotification>
  <notifySuccess>true</notifySuccess>
  <notifyAborted>false</notifyAborted>
  <notifyNotBuilt>false</notifyNotBuilt>
  <notifyUnstable>false</notifyUnstable>
  <notifyFailure>true</notifyFailure>
  <notifyBackToNormal>false</notifyBackToNormal>
  <notifyRepeatedFailure>false</notifyRepeatedFailure>
  <includeTestSummary>false</includeTestSummary>
  <commitInfoChoice>NONE</commitInfoChoice>
  <includeCustomMessage>false</includeCustomMessage>
  <customMessage/>
</jenkins.plugins.slack.SlackNotifier>
